.status
{
	height: 20px !important;
	padding: 0;
}

.status h5.ui-title
{
	font-size: 8pt !important;
	text-shadow: none;
	margin: 0;
	padding: 0;
	line-height: 20px;
}

.online
{
	background-color: #080 !important;
}

.offline
{
	background-color: #d00 !important;
}

.cache
{
	background-color: #f80 !important;
}

.status h5.ui-title
{
	color: #e7e7e7 !important;
}
}

.single
{
	height: 80px;
	
}
.double
{
	height: 160px;
}
.triple
{
	height: 240px;
}
.duration_four
{
	height: 320px;
}
.duration_five
{
	height: 400px;
}
.duration_six
{
	height: 480px;
}
.duration_seven
{
	height: 560px;
}
div.hr
{
	position: relative;
	margin: 2px 0px 2px 0px;
}

/*div.ui-grid-a div.hr
{
	width:250px;
}*/

div.hr h3
{
	margin:0;
}

div.emptyLesson
{
	border: 1px solid silver;
	/*background-color: #3388CC;*/
}
div.breakShort
{
	margin: 4px;
	height: 10px;
	background-image: url(../img/schraffur11.png);
	background-repeat: repeat;
	background-position: bottom left;
}
div.breakNorm
{
	margin: 4px;
	height: 20px;
	background-image: url(../img/schraffur21.png);
	background-repeat: repeat;
	background-position: bottom left;
}
div.breakLong
{
	margin: 4px;
	height: 80px;
	background-image: url(../img/schraffur81.png);
	background-repeat: repeat;
	background-position: bottom left;
}
div.hr h3.lesson
{
	position: absolute;
	text-align: left;
	left: 25px;
	top: 5px;
	display: inline;
	font-size: 20pt;
	line-height: 80px;
	font-weight: bold;
}
.hr p.teacher
{
	position: absolute;
	right: 25px;
	top: 5px;
	display: inline;
	font-size: 11pt;
}
.hr p.room
{
	position: absolute;
	right: 25px;
	top: 35px;
	display: inline;
	font-size: 11pt;
}

.hr p.text
{
	position: absolute;
	left :  15px;
	top  :  30px;
	right: 130px;
	bottom:  0px;
	display: inline;
	padding: 5px;
	overflow: hidden;
}
p.time
{
	position: absolute;
	right: 15px;
	bottom: 0;
	display: inline;
}

div.hr h5
{
	position: absolute;
	left: 10px;
	top: 35px;
	margin: 0;
	
	color: #636363;
}

div.hr h5:nth-of-type(2)
{
	top: 120px;
}

div.hr h5:nth-of-type(3)
{
	top: 202.5px;
}

div.hr hr
{
	background-color: #9C9C9C;
	border: none;
	height: 1.5px;
	position: absolute;
	top: 75px;
	left: 10px;
	right: 10px;
}

div.ui-body-red hr
{
	background-color: #e7e7e7;
}

div.hr hr:nth-of-type(2)
{
	top: 160px;
}

div.splitperiod
{
	width: 47%;
}

div.splitperiodLeft
{
	float: left;
}

div.splitperiodRight
{
	float: right;
	margin-top: -97px;
}

div.splitperiodRight.double
{
	margin-top: -177px;
}



div.customPopup
{
	padding:25px;
}
div.customPopup *
{
	text-align: center;
}

.StickFooter [data-role=page]{height: 100% !important; position:relative !important;}
.StickFooter [data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;}

/*
 * Avoid text selection when swiping with the mouse
 */
*
{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@media (max-width: 400px)
{
	div.splitperiod
	{
		width: 39%;
	}
}

/*
 * Datepicker
 */

div.hasDatepicker{ display: block; padding: 0; overflow: visible;  margin: 8px 0; max-width:340px }
.ui-datepicker {  overflow: visible; margin: 0;  }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.6em 0; border-bottom: 0; font-weight: bold; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { padding: 1px 0 1px 2px; position:absolute; top: .6em; margin-top: 0; text-indent: -9999px; }

.ui-datepicker .ui-datepicker-prev { left:9px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; border-collapse: collapse; margin:0; }
.ui-datepicker td { border-width: 1px; padding:0; text-align: center; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em 0; font-weight: bold; margin: 0; border-width: 0; text-align: center; text-decoration: none; }

.ui-datepicker-calendar th { padding-top: .4em; padding-bottom: .4em; }
.ui-datepicker-calendar th span, .ui-datepicker-calendar span.ui-state-default { opacity: .7; }
.ui-datepicker-calendar td a { padding:.6em .5em; }
